<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teamproject.StudentCommunity.mapper.PostDetailDAO">

    <select id="findByMemberPostId" resultType="com.teamproject.StudentCommunity.dto.postDetail.PostDetail"
            parameterType="Long">
        select * from
        post_detail
        where member_id = #{memberId}
        and post_id = #{postId}
    </select>


    <!--멤버 페이지 좋아요 누른 글-->
    <select id="findGoodPost" resultType="com.teamproject.StudentCommunity.dto.post.PostMemberDTO" parameterType="com.teamproject.StudentCommunity.dto.post.PostMemberSearchDTO">
        select p.*,c.name as categoryName
        from post_detail as pd
        join post as p on p.id = pd.post_id
        join board as b on b.id = p.board_id
        join category as c on c.id = b.category_id
        where pd.member_id = #{memberId}
        and pd.status = "GOOD"
        and p.member_id != #{memberId}
        order by p.created_at desc
        limit #{startNo},#{limit}<!--limit  = 인덱스 시작 위치,그 위치부터 몇개 가져올 껀지-->
    </select>


    <!--멤버 페이지 좋아요 누른 글-->
    <select id="countGoodPost" resultType="int" parameterType="Long">
        select count(*) from
            post_detail as pd
        join post as p on p.id = pd.post_id
        where pd.member_id = #{memberId}
          and p.member_id !=#{memberId}
        and status = "GOOD"
    </select>



    <!-- 새로운 좋아요 or 싫어요 저장 -->
    <insert id="insertPostDetail" parameterType="com.teamproject.StudentCommunity.dto.postDetail.PostDetail">
        insert into
            post_detail(status,created_at,post_id,member_id)
        values(#{status},#{createdAt},#{postId},#{memberId})
    </insert>

    <delete id="deleteById" parameterType="Long">
        delete from post_detail
        where id = #{id};
    </delete>
    
    

</mapper>